# Entornos virtuales
.venv/
.venv.12/

# Archivos sensibles
.env
.databrickscfg
*.key
*.pem
secrets/

# Python
__pycache__/
*.pyc
*.pyo

# Databricks
.databricks/
.dbsql/
.bundle/

# Logs y temporales
*.log
.pytest_cache/
.ipynb_checkpoints/
